<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leeyu.date">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alarm"
        android:label="Week Plan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MondayIssue"/>
        <activity android:name=".AddIssue"/>
        <activity android:name=".TuesdayIssue"/>
        <activity android:name=".WednesdayIssue"/>
        <activity android:name=".ThursdayIssue"/>
        <activity android:name=".FridayIssue"/>
        <activity android:name=".SaturdayIssue"/>
        <activity android:name=".SundayIssue"/>
    </application>
</manifest>